body{
  background-color: rgb(181, 129, 230)04, 218);
}
.container {
  width: 500px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
i {
  margin-top: 3px;
  text-align: right;
}
.trash {
  cursor: pointer;
}
