body {
  background-color: rgb(49, 0, 95);
}
.container {
  width: 500px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
i {
  margin-top: 3px;
  text-align: right;
}
.trash {
  cursor: pointer;
}
.text{
  cursor: zoom-in;
}
h1 {
  color: aliceblue;
}
